.age {
    margin-bottom: 15px;
}

.ui.card {
    overflow: hidden;
    margin: 20px;
    transition: transform 250ms ease-in-out;
    transform: scale(1);
}

.ui.card:hover {
    transform: scale(1.05);
}

.ui.card img {
    height: 300px;
    object-fit: cover;
}

div.root div.ui.card {
    margin-top: 0;
}