*:not(i) {
    font-family: 'Merienda', cursive !important;
}

body {
    background-color: #f7f3ef;
}

.age {
    margin-bottom: 15px;
}

.root {
    margin-top: 20px !important;
}

.ui.card {
    overflow: hidden;
    margin: 20px;
    transition: transform 250ms ease-in-out;
    transform: scale(1);
}

.ui.card .header {
    text-transform: capitalize;
}

.ui.card:hover {
    transform: scale(1.05);
}

.ui.card img {
    height: 300px;
    object-fit: cover;
}

div.root div.ui.card:first-child {
    margin-top: 20px;
}

div.root div.ui.card:last-child {
    margin-bottom: 20px;
}

button {
    outline: none;
}

.pagination.menu .item {
    cursor: pointer;
}

.ui.borderless.fixed.menu {
    /* background-color: rgb(233, 222, 205); */
    /* font-family: inherit; */
    background-color: #f7e3c9;
    align-items: center;
    height: 50px;
}

.ui.icon.input {
    width: 300px;
}

.ui.to_cart {
    color: white;
    background-color: #3bb9b9;
}

.ui.to_cart:focus {
    color: white;
    background-color: #3bb9b9;
}

.ui.to_cart.remove {
    color: white;
    background-color: #d82929;
}

.ui.to_cart.remove:focus {
    color: white;
    background-color: #d82929;
}

.ui.details {
    color: white;
    background-color: #f3c992;
}

.ui.details:focus {
    color: white;
    background-color: #f3c992;
}

.ui.to_cart:hover, .ui.details:hover {
    /* background-color: #aaf7d2; */
    /* background-color: rgb(202, 82, 38); */
    background-color: lightskyblue;
}

.search__button {
    background-color: transparent !important;
    margin-left: -50px !important;
}

.search__menu .header.item {
    font-size: 20px;
}

.search__menu .item {
    cursor: pointer;
}

.search__menu .shopping.cart {
    font-size: 24px;
}

.ui.modal .header {
    text-transform: capitalize;
}

.ui.modal .item.row {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ui.modal .image {
    align-items: center;
}

.ui.modal.flip.animated img {
    max-height: 400px;
}

.ui.modal .description {
    width: 60% !important;
}

.info__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

/* cart */

.cart__counter {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 2px 0px;
    min-width: 20px;
    text-align: center;
    background-color: #f59547;
    border-radius: 50%;
}

.cart__container {
    margin-top: 20px;
    width: 800px;
}

.cart__container .ui.header {
    font-size: 50px;
}

.cart__container .ui.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.cart__container .info {
    text-transform: capitalize;
    font-size: 24px;
}

.cart__container .ui.buttons button {
    width: 384px;
}

.cart__container img {
    border-radius: 20px;
}

.total__amount {
    font-size: 30px;
    padding: 40px 0px;
}

/* form */

.ui.form {
    margin-top: 30px;
}

.ui.form input {
    line-height: 1.4em !important;
}

/*MSG order*/

.ui.positive.massive.message {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}